name: test

services:
  ssh-server:
    image: lscr.io/linuxserver/openssh-server:latest
    environment:
      TZ: Etc/UTC
      USER_NAME: $USER
      PUBLIC_KEY: $PUBLIC_KEY
      SUDO_ACCESS: false
      PASSWORD_ACCESS: false
      LOG_STDOUT: "1"
    ports:
      - 2222:2222
    networks:
      default:
        ipv4_address: 172.22.0.10

  web-server:
    image: nginx:latest
    ports:
      - 8080:80
    networks:
      default:
        ipv4_address: 172.22.0.11

  workspace:
    build: .
    hostname: workspace
    volumes:
      - $PRIVATE_KEY_FILE:/root/.ssh/id_rsa:ro
      - $PUBLIC_KEY_FILE:/root/.ssh/id_rsa.pub:ro
    environment:
      USER: root
      LOG_LEVEL: debug
    networks:
      default:
        ipv4_address: 172.22.0.12

networks:
  default:
    ipam:
      driver: default
      config:
        - subnet: 172.22.0.0/24
