name: test

services:
  postgres:
    image: postgres:latest
    networks:
      default:
        ipv4_address: 172.22.0.10

  redis:
    image: redis:latest
    networks:
      default:
        ipv4_address: 172.22.0.20

  ssh-server:
    image: lscr.io/linuxserver/openssh-server:latest
    environment:
      TZ: Etc/UTC
      USER_NAME: $USER
      PUBLIC_KEY: $PUBLIC_KEY
      SUDO_ACCESS: false
      PASSWORD_ACCESS: false
      LOG_STDOUT: "1"
    networks:
      default:
        ipv4_address: 172.22.0.30

  server1:
    image: nginx:latest
    networks:
      default:
        ipv4_address: 172.22.0.40

  server2:
    image: nginx:latest
    networks:
      default:
        ipv4_address: 172.22.0.41

  server3:
    image: nginx:latest
    networks:
      default:
        ipv4_address: 172.22.0.42

  server4:
    image: nginx:latest
    networks:
      default:
        ipv4_address: 172.22.0.43

  server5:
    image: nginx:latest
    networks:
      default:
        ipv4_address: 172.22.0.44

  server6:
    image: nginx:latest
    networks:
      default:
        ipv4_address: 172.22.0.45

  server7:
    image: nginx:latest
    networks:
      default:
        ipv4_address: 172.22.0.46

  server8:
    image: nginx:latest
    networks:
      default:
        ipv4_address: 172.22.0.47

  server9:
    image: nginx:latest
    networks:
      default:
        ipv4_address: 172.22.0.48

  server10:
    image: nginx:latest
    networks:
      default:
        ipv4_address: 172.22.0.49

  mongo:
    image: mongo:latest
    networks:
      default:
        ipv4_address: 172.22.0.50

  localstack:
    image: localstack/localstack:latest
    networks:
      default:
        ipv4_address: 172.22.0.60

  workspace:
    build: .
    hostname: workspace
    volumes:
      - $PRIVATE_KEY_FILE:/root/.ssh/id_rsa:ro
      - $PUBLIC_KEY_FILE:/root/.ssh/id_rsa.pub:ro
    environment:
      USER: root
      LOG_LEVEL: debug
    networks:
      default:
        ipv4_address: 172.22.0.70

networks:
  default:
    ipam:
      driver: default
      config:
        - subnet: 172.22.0.0/24
