name: test

services:
  localstack:
    build:
      context: .
      dockerfile: docker/localstack/Dockerfile
    cap_add:
      - NET_ADMIN
    networks:
      default:
        ipv4_address: 172.22.0.60

  mongo:
    build:
      context: .
      dockerfile: docker/mongo/Dockerfile
    cap_add:
      - NET_ADMIN
    networks:
      default:
        ipv4_address: 172.22.0.50

  redis:
    build:
      context: .
      dockerfile: docker/redis/Dockerfile
    cap_add:
      - NET_ADMIN
    networks:
      default:
        ipv4_address: 172.22.0.20

  ssh-server:
    build:
      context: .
      dockerfile: docker/ssh-server/Dockerfile
    cap_add:
      - NET_ADMIN
    environment:
      TZ: Etc/UTC
      USER_NAME: $USER
      PUBLIC_KEY: $PUBLIC_KEY
      SUDO_ACCESS: false
      PASSWORD_ACCESS: false
      LOG_STDOUT: "1"
    networks:
      default:
        ipv4_address: 172.22.0.30

  web-server-1:
    build:
      context: .
      dockerfile: docker/web-server/Dockerfile
    cap_add:
      - NET_ADMIN
    networks:
      default:
        ipv4_address: 172.22.0.40

  web-server-2:
    build:
      context: .
      dockerfile: docker/web-server/Dockerfile
    cap_add:
      - NET_ADMIN
    networks:
      default:
        ipv4_address: 172.22.0.41

  web-server-3:
    build:
      context: .
      dockerfile: docker/web-server/Dockerfile
    cap_add:
      - NET_ADMIN
    networks:
      default:
        ipv4_address: 172.22.0.42

  web-server-4:
    build:
      context: .
      dockerfile: docker/web-server/Dockerfile
    cap_add:
      - NET_ADMIN
    networks:
      default:
        ipv4_address: 172.22.0.43

  web-server-5:
    build:
      context: .
      dockerfile: docker/web-server/Dockerfile
    cap_add:
      - NET_ADMIN
    networks:
      default:
        ipv4_address: 172.22.0.44

  web-server-6:
    build:
      context: .
      dockerfile: docker/web-server/Dockerfile
    cap_add:
      - NET_ADMIN
    networks:
      default:
        ipv4_address: 172.22.0.45

  web-server-7:
    build:
      context: .
      dockerfile: docker/web-server/Dockerfile
    cap_add:
      - NET_ADMIN
    networks:
      default:
        ipv4_address: 172.22.0.46

  web-server-8:
    build:
      context: .
      dockerfile: docker/web-server/Dockerfile
    cap_add:
      - NET_ADMIN
    networks:
      default:
        ipv4_address: 172.22.0.47

  web-server-9:
    build:
      context: .
      dockerfile: docker/web-server/Dockerfile
    cap_add:
      - NET_ADMIN
    networks:
      default:
        ipv4_address: 172.22.0.48

  web-server-10:
    build:
      context: .
      dockerfile: docker/web-server/Dockerfile
    cap_add:
      - NET_ADMIN
    networks:
      default:
        ipv4_address: 172.22.0.49

  workspace:
    build:
      context: .
      dockerfile: docker/workspace/Dockerfile
    cap_add:
      - NET_ADMIN
    volumes:
      - $PRIVATE_KEY_FILE:/root/.ssh/id_rsa:ro
      - $PUBLIC_KEY_FILE:/root/.ssh/id_rsa.pub:ro
    environment:
      USER: root
      LOG_LEVEL: debug
    networks:
      default:
        ipv4_address: 172.22.0.70

networks:
  default:
    ipam:
      driver: default
      config:
        - subnet: 172.22.0.0/24
