name: test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/rust-setup
      - name: Build
        run: cargo build --release

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/rust-setup
      - name: Lint
        run: cargo clippy --all-targets --all-features

  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/rust-setup
      - name: Fmt
        run: cargo fmt --all --check

  test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        include:
          - cmd: script -q /dev/null -c 'cargo llvm-cov --ignore-filename-regex "(_test.rs$)|(_tests.rs$)"'
            os: ubuntu-latest
          - cmd: script -q /dev/null cargo llvm-cov --ignore-filename-regex "(_test.rs$)|(_tests.rs$)"
            os: macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/rust-setup
      - name: Test
        run: ${{ matrix.cmd }}
